body {
  margin: 0;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

.background {
  height: 150%;
  width: 150%;
}

.follower {
    height: 50%;
    aspect-ratio: 1;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
img:hover {
    filter: drop-shadow(0 0 0 red) drop-shadow(0 0 5px red);
  } 

#testCanvas {
  border: 1px
  solid
  black
}

removeButton:disabled{
  display:none;
}

removeButton.visible{
  display: inline-block;
  cursor: pointer;
}