body {
  margin: 0;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

.background {
  position: absolute;
  z-index: 1;
}

.jeffer {
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
  top: -50vh;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  mask: radial-gradient(circle var(--radius, 100px) at var(--x, 50%) var(--y, 50%), transparent 80%, black 100%);
  -webkit-mask: radial-gradient(circle var(--radius, 100px) at var(--x, 50%) var(--y, 50%), transparent 80%, black 100%);
}

.follower {
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid red;
  position: relative;
  transform: translate(-50%, -50%);
  transition: top 0.1s, left 0.1s;
  pointer-events: none;
  top: 100%;
  left: 50%;
  z-index: 3;
}

.monster.hover {
  filter: drop-shadow(0 0 0 rgb(0, 0, 0)) drop-shadow(0 0 5px rgb(0, 0, 0));
} 

#removeButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;

  cursor:pointer;
}

#kitchenCanvas {
  background-image: url('Images/kitchen.png');
  height: 150%;
  width: 150%;
}