body {
  margin: 0;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
}

.background {
  position: absolute;
  z-index: 1;
} 

#removeButton {
  position: absolute;
  z-index: 2;
}

.follower {
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid red;
  position: relative;
  transform: translate(-50%, -50%);
  transition: top 0.1s, left 0.1s;
  pointer-events: none;
  top: 100%;
  left: 50%;
  z-index: 3;
}

.monster.hover {
  filter: drop-shadow(0 0 0 rgb(0, 0, 0)) drop-shadow(0 0 5px rgb(0, 0, 0));
} 

#removeButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 1;

  cursor:pointer;
}

.follower {
    height: 50%;
    aspect-ratio: 1;
    background-color: red;
    opacity: 30%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.follower {
    height: 50%;
    aspect-ratio: 1;
    background-color: red;
    opacity: 30%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}



#kitchenCanvas {
  z-index: 2;
} 
