img:hover {
    filter: drop-shadow(0 0 0 rgb(0, 0, 0)) drop-shadow(0 0 5px rgb(0, 0, 0));
  } 

#removeButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;

  cursor:pointer;
}

