body {
  margin: 0;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

.follower {
    height: 50%;
    aspect-ratio: 1;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}